.product_header{
    color: #AEC71E;
}

.biggerFont{
    font-size: 20px;
}

.smallerFont{
    font-size: 17px;
}

.paddingDown5{
    padding-bottom: 5px;
}

.paddingRight5{
    padding-right: 5px;
}

.justifiedText{
    text-align: justify;
    text-justify: inter-word;
}

.border{
    border: 1px solid #333;
    border-radius: 5px;
}

.htmlCustom {
    position: relative;
    min-height: 100%;
}

.bodyCustom {
    background: rgba(142, 255, 209, 0.36) !important;
    margin: 0 0 60px; /* bottom = footer height */
    padding: 25px;
    padding-top: 0px;
}

.footerCustom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 161px;
    width: 100%;
    overflow:hidden;
}

.alignCenter{
  text-align: center;
}

.greyColor{
    color: #555;
    font-size: x-large;
}

.greenColor{
    color: #AEC71E !important;
}

.greenColorContact{
    font-size: initial;
    color: #AEC71E !important;
}

.greenColorFont{
    color: #AEC71E !important;
}

.greenColorFont:hover{
    color: #fff !important;
}

.discreptionSpan{
    display: block;
    text-align: center;
    color: #555;
    margin: 5px 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px; 
}

.homeProductLinkPadding{
    padding: 5px !important;
}

.lineStyle{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.exibitionsHead{
    margin:0 0 0 0 !important;
    padding:0 0 0 0 !important;
}

.headerTop{
    background: url('../img/back_3.png') !important;
    height: 250px !important;
}

.logosTopMargin{
    margin-top: 19px;
}

.fbIcon{
    float: right !important;
    margin-right: 26px;
    margin-top: 60px;
}

.topMenu{
    margin-top: 10px !important;
    background-color: lightgray;
}

.removeBorder{
    border-bottom: none !important;
}

.welcomeText{
    margin: 0px;
    padding: 4px 0 7px;
}

.sliderMargin{
    margin-top: 10px !important;
}

.sloganSpan1{
    display: -webkit-inline-box !important;
    font-size: 19px;
    font-weight: 700;
    color: #AEC71E;
    line-height: 21px;
}

.footerReset{
    background: inherit !important;
    padding-top: inherit !important;
    margin-top: inherit !important;
    height: inherit !important;
}

.welcomeMargine{
    margin-top: 22px;
    line-height: 30px;
    font-weight: 700;
}

.link_title_overide {
    font-size: 19px !important;
    font-weight: 700 !important;
    line-height: 30px !important;
    color: #444 !important;
    padding: 10px 0 15px !important;
}

.phoneIconMarginTop{
    margin-top: 2px;
}

.slider2{
    left: inherit;
    right: inherit;
    padding: 5px;
    bottom: 23px;
    z-index: 1000;
    position: absolute;
    background: rgba(182, 203, 50, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
    opacity: 0;
    color: #fff;
    transition: all 200ms;
}

.slider1{
    padding: 5px;
    top: 10px;
    right: 4px;
    bottom: inherit;
    left: inherit;
    z-index: 1000;
    position: absolute;
    background: rgba(182, 203, 50, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
    opacity: 0;
    color: #fff;
    transition: all 200ms;
}

.slider3{
    padding: 5px;
    top: 29px;
    left: 4px;
    bottom: inherit;
    right: inherit;
    z-index: 1000;
    position: absolute;
    background: rgba(182, 203, 50, 0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0)
    opacity: 0;
    color: #fff;
    transition: all 200ms;
}

.productsHome{
    padding-bottom: 0px !important;
}

.categoriesHeader{
    margin-bottom: inherit;
    color: #555;
    font-size: 26px;
    text-decoration: underline;
}

.clearFooter{
    background: inherit;
}

.contactInfoOuter{
    margin-top: 10px;
    background-color: #eee;
    padding-bottom: 25px;
    padding-right:17px;
    border: 0px #fff solid;
}

.contactInfoInner{
    margin-top: 19px;
    margin-left: 17px;
}

.aboutSlogan1{
    margin-bottom: -21px;
}

.aboutSlogan2{
    margin: inherit;
    padding-top: 14px;
    padding-bottom: 15px;
}

.containerBottom{
    padding-bottom: 25px;
}

.priceEl{
    height: inherit;
    padding-bottom: inherit;
}

.priceHeight{
    margin-top: 15px;
    height: 125px;
}

.strartPrice{
    color: red;
    text-decoration: line-through;
}

.priceSize{
    font-size: 30px;
}

.postMarPad{
    margin: 0px 0 10px 0;
    padding: 0 0 0 0;
}

/* Events */

.eventBackground{
    background-color: white;
    margin-bottom: 10px;
}

.eventsFromTo{
    font-size: 15px;
    font-style: italic;
}

.eventsDate{
    margin-left: -4px !important;
    /*margin-left: auto;*/
}

.eventPlace{
    margin-top: 10px;
}

.logoMargin{
    margin-top: 45px;
    margin-left: 28px;
}

.price_header{
    padding-bottom: inherit;
    padding-top: inherit;
}

.offers_period{
    margin-top: -13px;
    color: #AEC71E;
}

.eventsDataList{
    margin-top: inherit;
}

.eventsDataFont{
    font-size: 14px;
}