<h6><a href="/">Αρχική</a> / Εταιρεία</h6>
<div class="inner_content">
    <div class="row">
        <div class="span4">
            <?php echo $this->Html->image("/img/about_1.jpg"); ?>
        </div>
        <div class="span8">
            <h4>Σύντομο ιστορικό</h4>
            <p class="justifiedText">
                Η IRON VAP  είναι Ελληνική εταιρεία προσφοράς προϊόντων καθαρισμού και οικιακών συσκευών. Ιδρύθηκε το 1995, με σκοπό να παρέχει ποιοτικές και σύγχρονες επιλογές οικολογικών ηλεκτρικών συσκευών, κυρίως για τον επαγγελματία αλλά και για κάθε σπίτι. Πριν από 20 χρόνια ξεκίνησε να προσφέρει προϊόντα οικολογικά και φιλικά προς το περιβάλλον, προσαρμοσμένα στις ανάγκες και απαιτήσεις των σύγχρονων νοικοκυριών και επαγγελματιών. Πρωτοπόρος για την εποχή της πρότεινε ατμοκαθαριστές και σκούπες με μεγάλη απόδοση, πρεσοσίδερα οικιακά και επαγγελματικά με απεριόριστη αντοχή στον χρόνο.
            </p>
            <h4>Δραστηριότητα</h4>
            <p class="justifiedText">Σήμερα επενδύει σε συνεργασίες με μεγάλες εταιρείες της Ευρώπης(Polti, Saeco, Elettroplastica), κυρίως Ιταλίας και Γερμανίας, αλλά και σε εξειδικευμένο προσωπικό, το οποίο μπορεί να παρέχει αξιόπιστες λύσεις υψηλής απόδοσης (καθαρισμού, απολύμανσης, σιδερώματος) για ιδιώτες και επαγγελματίες. Ακόμα υποστηρίζει οικολογικά προϊόντα τελευταίας γενιάς, ακόμα και για τους πιο απαιτητικούς, όπως σιδερώστρες αφής, ηλεκτρονικές σκούπες κτλ.</p>
            <p class="justifiedText">Προσφέρει προϊόντα τόσο για την απλή εφαρμογή π.χ. σκούπισμα, σιδέρωμα, καθάρισμα με ατμό όσο και σύνθετες λύσεις απολύμανσης από ακάρεα, βακτηρίδια, κοριούς κτλ.</p>
            <p class="justifiedText">
                <i class="icon-quote-left icon-1x pull-left "></i>Προσδίδει υπεραξία στις επιλογές σας και είναι δίπλα σας σε κάθε βήμα και επιλογή σας.<i class="icon-quote-right icon-1x"></i>
            </p>
        </div>
    </div>
    <div class="row aboutSlogan1">
        <blockquote>
            <p class="alignCenter">
                Επικοινωνήστε τώρα μαζί μας (<span class="sloganSpan1"><img src="img/phone-ico.png" class="phoneIconMarginTop"/> 6946 124291</span>) για να συζητήσουμε την βέλτιστη λύση καθαρισμού, απολύμανσης και λειτουργικότητας για εσάς και για τον χώρο σας. 
            </p>
        </blockquote>
    </div>
    <br>
    <!--big text-->
    <div class="welcome aboutSlogan2">
        <div class="line_divider line_top">
        </div>
        <p>
            ΠΕΙΤΕ ΜΑΣ ΤΙΣ <?php echo $this->Html->link("ΑΝΑΓΚΕΣ",array('controller' => '/επικοινωνία')); ?> ΣΑΣ, ΝΑ ΣΑΣ ΠΡΟΤΕΙΝΟΥΜΕ <?php echo $this->Html->link("ΠΡΟΪΟΝ",array('controller' => '/')); ?>!!!
        </p>
        <div class="line_divider line_bottom">
        </div>
    </div>
</div>
</div>