<h6><a href="/">Αρχική</a> / Service</h6>
<div class="inner_content">
    <div class="row">
        <div class="span8">
            <h4>Υποστήριξη προϊόντων</h4>
            <p class="justifiedText">
                Η IRON VAP εδρεύει στην Θεσσαλονίκη από όπου ξεκινούν οι ατμοκαθαριστές, οι σκούπες μας καθώς και τα υπόλοιπα προϊόντα μας και φτάνουν κοντά σας απ’ άκρη  σ’ άκρη σε όλη την χώρα.
            </p>
            <h4>Service</h4>
            <p class="justifiedText">Είμαστε δίπλα σας με κεντρικά και εξουσιοδοτημένα καταστήματα σε όλη την Ελλάδα. Παρέχουμε πλήρη κάλυψη σε ανταλλακτικά των ατμοκαθαριστών, των σκουπών και των υπόλοιπων προϊόντων μας καθώς και ποιοτικό έλεγχο σε όλα τα μοντέλα μας. </p>
            <p class="justifiedText">Προσδίδοντας υπεραξία στις επιλογές σας καθώς η σχέση εταιρίας-πελάτη ξεκινάει για εμάς με την αγορά του προϊόντος και δεν σταματάει εκεί. Καλύπτουμε κάθε ανάγκη σας, δίνοντας έμφαση στο service την μεγαλύτερη ανάγκη των ηλεκτρικών συσκευών, όσα χρόνια και αν περάσουν από την αγορά τους.</p>
            <div class="row">
                <div class="span3">
                    <h3 class="greenColor">Κεντρικό Service</h3>
                    <h6><strong>Θεσσαλονίκη</strong></h6>
                    <h4>Ανατολικά</h4>
                    <p>Διεύθυνση:<br> <strong>Κωνσταντινουπόλεως 66,<br>(έναντι Ιπποκρατείου)</strong></p>
                    <p>Τηλέφωνο: <br> <strong>2310 839 770</strong></p>
                    <p>Κινητό: <strong>6944140994</strong></p>
                    <h6><strong>Iron Vap</strong></h6>
                </div>
                <div class="span3">
                    <h3 class="greenColor">Service Αθηνών</h3>
                    <h6><strong>Αθήνα</strong></h6>
                    <h4>Γλυφάδα</h4>
                    <p><strong>Διεύθυνση:</strong><br>Αρχιπελάγους 10 (ύψος Γούναρη 55) ,<br></p>
                    <p>Παπαδόπουλος Γιάννης<p>
                </div>
                <div class="span2">
                    <br><br>
                    <h6><strong>Αθήνα</strong></h6>
                    <h4>Ίλιον</h4>
                    <p><strong>Διεύθυνση:</strong><br>Άρτης 51 & Σαμουήλ,<br><br>(ύψος Τέρμα Θηβών ανεβαίνoντας Αγίου Νικολάου)</p>
                    <p>Α. Κουμπής ΕΠΕ</p>
                </div>                
            </div>
        </div>
        <div class="span4">
            <br>
            <?php echo $this->Html->image("/img/service.png"); ?>
        </div>
    </div>
</div>
</div>