<div class="grid_6 prefix_5 suffix_5">
    <h1>Iron Vap | Σύνδεση Χρήστη</h1>
    <div id="login">       
        <?php echo $this->Session->flash(); ?>
        <?php

            echo $this->Form->create();
            echo '<p><label><strong>Username</strong></label>';
            echo $this->Form->input('name',array('class'=>'inputText','div'=>false,'label'=>false));
            echo '</p><p><label><strong>Password</strong>';
            echo $this->Form->input('password',array('class'=>'inputText','div'=>false,'label'=>false));
            echo '</p>';
            echo $this->Form->submit('Σύνδεση',array('class'=>'black_button','div'=>false));
            echo $this->Form->end();

        ?>
        <br clear="all" />
    </div>
</div>